*
!.gitignore

# DOCUMENTATION
!*.md

# NIX
!*.nix

# BUILD SYSTEMS
!Cargo.toml

# SOURCES
!cab*/
!cab*/src/
!cab*/src/**/

!fuzz/
!fuzz/fuzz_targets/
!fuzz/fuzz_targets/**/

!task/
!task/src/
!task/src/**/

!*.rs
