*
!.gitignore

# DOCUMENTATION
!*.md

# NIX
!nix/
!*.nix
!flake.lock

# BUILD SYSTEMS
!.cargo/config.toml
!Cargo.toml
!Cargo.lock

# FUZZING
!fuzz/
!fuzz/fuzz_targets/
!fuzz/fuzz_targets/**/
!fuzz/fuzz_targets/**/*.rs

# FORMATTERS
!.rustfmt.toml
!.taplo.toml

# PROJECTS
!cab/

# BRANDING
!brand/
