*
!.gitignore

# DOCUMENTATION
!*.md

# NIX
!nix/
!*.nix
!flake.lock

# BUILD SYSTEMS
!.cargo/
!.cargo/config.toml
!Cargo.toml
!Cargo.lock

# FORMATTERS
!.rustfmt.toml
!.taplo.toml

# LINTERS
!.clippy.toml
!.deny.toml

# PROJECTS
!dup/
!cab/
!ust/

# BRANDING
!brand/
