*
!.gitignore

# DOCUMENTATION
!*.md

# NIX
!nix/
!*.nix
!flake.lock

# BUILD SYSTEMS
!.cargo/
!.cargo/config.toml
!Cargo.toml
!Cargo.lock

# FUZZING
!fuzz/

# FORMATTERS
!.rustfmt.toml
!.taplo.toml

# LINTERS
!.clippy.toml

# PROJECTS
!cab/

# BRANDING
!brand/
